.footer-container{
    position: absolute;
    top: 1400px;
    width: 100%;
}

.headphone-img{
    width:  500px;
    height: 550px;
}

.headphone-img img{
    width: 100%;
}

.first-headphone{
    display: flex;
    flex-direction: row;
    gap: 100px;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
}

.SP{
    margin-top: 20px;
}

.headphones-items-for-show {
    display: flex;
    justify-content: center; /* Center items horizontally */
    align-items: center; /* Center items vertically */
    width: 100%;
    margin-top: 100px;
    flex-direction: row;
    gap: 100px; /* Add spacing between items */
}