body{
    background-color: #f8f8f8;
}

.checkout-container{
    padding: 40px;
    width: 800px;
    background-color: #fff;
    height: 900px;
    color: black;
    border-radius: 10px;
    position: absolute;
    top: 240px;
    left: 200px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


h1{
    font-size: 30px;
    font-weight: 700;
}

.billing-details-span{
    margin-top: 10px;
    margin-left: 7px;
    color: orangered;
    font-weight: 500;
}

.billing-info{
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    margin-top: 30px;
}

.name-email{
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: center;
}

input{
    height: 55px;
    padding: 10px;
    border: 1px solid rgb(99, 91, 91);
    outline: none;
    border-radius: 10px;
    font-size: 14px;
}

.name-email input{
    width: 350px;
}

input:focus{
    border: solid 2px rgb(173, 112, 0);
}

label{
    font-size: 14px;
    margin-bottom: 5px;
    margin-left: 2px;   
}

.name-form, .email-form, .number-form {
    display: flex;
    flex-direction: column;
}

.number-form input{
    width: 350px;
    margin-left: 4px;    
}

.number-form label{
    margin-left: 6px;
}


.shipping-info {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
}

.shipping-info span{
    margin-top: 10px;
    color: orangered;
    font-weight: 500;
}

.adress-form{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.zip-city{
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: center;
}

.city, .zip{
    display: flex;
    flex-direction: column;
    margin-top: 30px;
}

.zip-city input{
    width: 354px;
}

.country{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.country input{
    width: 350px;
}